[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

a {
  color: #e4c955;
  text-decoration: none; }
  a:hover {
    color: #444;
    padding-bottom: 2px;
    border-bottom: 1px solid #444; }

h1 {
  font-size: 2em;
  padding: 0.83em 0;
  margin: 0; }

h1, h2, h3 {
  text-align: center;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); }

p {
  font-family: 'Droid Serif', Georgia, Times, serif; }

.intro {
  padding: 21px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  font: 100 16px/1.4 Sans-serif; }
  .intro p {
    font: 100 1.4em/1.5 Sans-serif;
    padding: 0;
    margin: 0; }

html {
  box-shadow: inset 0 0px 7px rgba(0, 0, 0, 0.05);
  background: #fff; }

body {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.6;
  color: #444;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1); }
  body > header {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center; }

nav {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  padding: 20px;
  z-index: 110;
  background: #efefef; }
  nav ul {
    padding: 0;
    margin: 0;
    line-height: 0; }
  nav li {
    display: inline-block;
    padding: 8px 9px 5px 11px;
    margin-left: 10px;
    line-height: 1;
    max-width: 1em;
    overflow: hidden;
    transition: background 0.4s, max-width 0.7s; }
    nav li:hover {
      max-width: 20em;
      background: #fff; }
      nav li:hover a {
        border: none; }
  nav .fa {
    vertical-align: top;
    margin-top: 14px; }
  nav a {
    padding-left: 8px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 21px;
    vertical-align: top; }

.logo {
  max-width: inherit;
  padding: 0;
  margin: 0;
  line-height: 0; }
  .logo a {
    padding: 0;
    margin: 0;
    line-height: 0; }

.about {
  padding-right: 1px;
  color: #e45570; }
  .about a {
    padding-left: 9px;
    padding-right: 10px; }

.archive {
  color: #e4c955; }

.placeholder {
  visibility: hidden; }

body > header > img, .placeholder img {
  margin: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4); }

article {
  position: relative;
  background: #fff;
  padding: 0 0 50px;
  margin: 0 10px; }
  article > div {
    font-size: 1.2em;
    max-width: 30em;
    margin: 0 auto; }

footer {
  position: fixed;
  bottom: 0;
  max-height: 0;
  width: 100%;
  transition: background 1s, max-height 1s;
  background: #efefef; }
  footer div {
    max-width: 36em;
    margin: 0 auto;
    padding: 20px 0; }
  footer p {
    margin: 0;
    font-size: 0.8em; }
  footer:hover {
    max-height: 400px; }

.open {
  position: absolute;
  top: -2.95em;
  left: 10px;
  padding: 1em;
  cursor: pointer;
  background: #efefef;
  transition: background 1s; }

.meta {
  padding: 6px 0 2px;
  margin: 19px 0 0;
  margin-left: 0;
  font-size: 0.6em;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  background: #efefef; }
  .meta time {
    margin-right: 10px;
    display: inline-block; }
  .meta ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
  .meta li {
    display: inline;
    list-style: none; }

blockquote {
  font-family: Times, serif;
  font-style: italic;
  font-weight: 100; }

pre {
  padding: 18px;
  margin: 18px 0;
  overflow: hidden;
  font: 12px/1.3 "Source Code Pro", monospace, sans-serif;
  word-wrap: normal;
  white-space: pre;
  background: #efefef; }

.hll {
  background-color: #ffc; }

.err {
  border: 1px solid red; }

.cp {
  color: #bc7a00; }

.gd {
  color: #a00000; }

.ge {
  font-style: italic; }

.gr {
  color: red; }

.gi {
  color: #00a000; }

.go {
  color: gray; }

.gs {
  font-weight: 700; }

.gu {
  color: purple;
  font-weight: 700; }

.gt {
  color: #0040d0; }

.kt {
  color: #b00040; }

.na {
  color: #7d9029; }

.no {
  color: #800; }

.nd {
  color: #a2f; }

.ni {
  color: #999;
  font-weight: 700; }

.ne {
  color: #D2413A;
  font-weight: 700; }

.nf {
  color: blue; }

.nl {
  color: #a0a000; }

.ow {
  color: #A2F;
  font-weight: 700; }

.w {
  color: #bbb; }

.sd {
  color: #BA2121;
  font-style: italic; }

.se {
  color: #B62;
  font-weight: 700; }

.si {
  color: #B68;
  font-weight: 700; }

.sr {
  color: #b68; }

.c, .cm, .c1, .cs {
  color: #408080;
  font-style: italic; }

.k, .kc, .kd, .kn, .kr, .nt {
  color: green;
  font-weight: 700; }

.o, .m, .mf, .mh, .mi, .mo, .il {
  color: #666; }

.gh, .gp {
  color: navy;
  font-weight: 700; }

.kp, .nb, .sx, .bp {
  color: green; }

.s, .sb, .sc, .s2, .sh, .s1 {
  color: #ba2121; }

.nc, .nn {
  color: #00F;
  font-weight: 700; }

.nv, .ss, .vc, .vg, .vi {
  color: #19177c; }
